body {
    max-width: 800px;
    margin: 0 auto;
    color: #091e32;
    font: 16px "Inter", sans-serif;
    background: rgb(238,238,238);
}

.widget {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    /*border: 1px solid;*/
}

.tabs {
    width: 100%;
}
/*.category_tab {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*    min-height: 30px;*/
/*    height: auto;*/
/*    border: 1px solid #ccc;*/
/*    cursor: pointer;*/
/*}*/


/*#dateContainer {*/
/*    position: relative;*/
/*    margin: 20px;*/
/*}*/

.dateLabel {
    position: relative;
    top: 0;
    right: 0;
    margin: 4px;
    font-size: 14px;
    color: #333;
}

/*#dateInput {*/
/*    padding: 8px;*/
/*    font-size: 16px;*/
/*}*/

.middle-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.middle-form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 54px;
    margin-bottom: 4px;

    background: white;
}

.dateOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

.input-date {
    padding: 4px;
    font-size: 16px;
    /*border: 1px solid;*/
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    box-sizing: border-box;
    outline: 0;
    border-right: 1px solid #e6e9f1;
}

.dateInput {
    border: none;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

input[type="date"] {
    outline: none;
}

.hide {
    display: none;
}

.active {
    display: flex;
}

.cityInput {
    /*border: 1px solid;*/
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    box-sizing: border-box;
    outline: 0;
}

.select_city {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    /*border: 1px solid;*/
    border-radius: 4px;
    /*position: relative;*/
    cursor: pointer;
    height: 54px;
    border-right: 1px solid #e6e9f1;
}

.search-options_item-text {
    display: none;
    /* Добавьте стили, которые вы хотите видеть внутри .select_city */
}

.cityLabel {
    margin: 4px;
    font-size: 14px;
}

.cityInput {
    padding: 1px;
    margin-left: 3px;
    font-size: 16px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    border: none;
}

input[type="number"] {
    width: 90%;
    outline: none;
}

.select_city {
    position: relative;
}

.suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 100%; /* Отображаем список под полем ввода */
    display: none; /* Скрываем его изначально */
}

.select_city:hover .suggestions {
    display: block; /* Показываем список, когда поле ввода активно (в фокусе) */
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f4f4f4;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.modal iframe {
    width: 100%;
    height: 100%;
    border: none;
}

button, input, textarea {
    display: block;
    overflow: visible;
    background: transparent;
    padding: 0;
}

.select_city:nth-child(even) {
    border-right: 0;
}

.tabs-style5 ul li:not(.active) button span {
    display: none;
}

.tabs-style5 ul {
    justify-content: space-between;
}

.tabs-style5 ul {
    display: flex;
    align-items: flex-end;
}

ol, ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

ol, ul {
    box-sizing: border-box;
}

.banner-search_home .search-tabs ul li {
    margin-right: 2px;
}

.tabs-style5 ul li {
    width: 100%;
}

ol li, ul li, label {
    position: relative;
}
.banner-search_home .search-tabs ul li button {
    border: 0;
}

.tabs-style5 ul li.active button {
    background: #429cf3;
    color: white;
}

.tabs-style5 ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    font-size: 11px;
    width: 100%;
    height: 57px;
}

button, input, textarea {
    display: block;
    overflow: visible;
    background: transparent;
    padding: 0;
}

.tabs-style5 ul li.active button img.active {
    opacity: 0;
    visibility: hidden;
}

.tabs-style5 ul li.active button img {
    width: 28px;
}

.tabs-style5 ul li button img.active {
    position: absolute;
}

.tabs-style5 ul li button img {
    transition: all 0.3s;
    margin: 0 auto;
}

.tabs-style5 ul li.active button {
    padding: 5px;
}

.banner-search_home .search-tabs ul li button {
    border: 0;
}

.banner-search_home .search-tabs ul li.category_tab .active button {
    background: #429cf3;
    color: white;
    overflow: hidden;
}

.category_tab:not(.active) {
    background: #cfd5da;
}

.tabs-style5 ul li button {
    position: relative;
    border: 1px solid #e6e9f1;
    border-radius: 8px 8px 0 0;
    color: #63707d;
    font-weight: 700;
    transition: all 0.3s;
}

.cityLabel {
    color: rgba(9, 30, 50, 0.4);
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 3px;

}


.dateLabel {
    color: rgba(9, 30, 50, 0.4);
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 3px;
}


#searchButton {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #429cf3;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s;
    height: 56px;
    padding: 0 36px;
    width: 100%;
}


.close {
    /*color: #fff;*/
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 100;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 2px solid #fdead9;
    border-radius: 8px;
    min-height: 44px;
    min-width: 44px;
    padding: 0 6px;
    margin-right: 4px;
}

.close:hover {
    color: #ccc;
}

.sidebar-catalog_card-profile_block {
    display: none;
}